

.dox8{
    width: 300px;
    height: 300px;
    background-color: #F0FFF0;
}
.dox9{
    width: 300px;
    height: 300px;
    background-color: #FFFFF0;
}


.d10{
    width: 300px;
    height: 300px;
    background-color: #D3D3D3;
}
.d11{
    width: 300px;
    height: 300px;
    background-color: #FAF0E6;
}
.d12{
    width: 300px;
    height: 300px;
    background-color: #FDF5E6;
}
.d13{
    width: 300px;
    height: 300px;
    background-color: #FFF5EE;
}

.d14{
    width: 300px;
    height: 300px;
    background-color: #FFFAFA;
}

/*
##
##
##
##
##
#
##
#
#
*/