.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.tagContainer {
  margin-bottom: 20px;
}

.itemList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tagItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.iconImage {
  width: 100px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.load-more-button:hover {
  background-color: #0056b3;
}
